<mat-toolbar class="portfolio-header" [ngClass]="isCurrentThemeHarry ? 'harry-potter-navigation' : 'batman-navigation'">
    <button mat-button (click)='toggledSideNavigation()' fxHide.gt-xs>
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/">Utkarsh Awasthi</span>
    <div fxHide.xs fxFlex fxLayoutAlign='end'>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/work">Work</a>
        <a mat-button routerLink="/contact">Contact</a>
        <button mat-button (click)='select.open()'>
            <mat-select #select (selectionChange)="onSetTheme($event.value)" [(ngModel)]='selectedTheme' class="theme-selector">
                <mat-option *ngFor="let theme of themes" [value]="theme.value">
                    <div class="d-flex justify-content-between align-items-center">
                        <img [src]="theme.image" alt="theme image" class="theme-image">
                        {{theme.name}}
                    </div>
                </mat-option>
            </mat-select>
        </button>
    </div>
</mat-toolbar>