.portfolio-header {
    height: 100px;
    box-shadow: 0 0 15px 5px rgb(0 0 0);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .theme-selector {
        width: 170px;
    }
}

.theme-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .portfolio-header {
        position: fixed;
        top: 0%;
    }
}
