// define a real custom palette (using http://mcg.mbitson.com)
$md-hpprimary: (
    50 : #f5e0e1,
    100 :#ae00015e,
    200 : #d78080,
    300 : #c64d4d,
    400 : #ba2627,
    500 : #ae0001,
    600 : #a70001,
    700 : #9d0001,
    800 : #940001,
    900 : #840000,
    A100 : #ffb1b1,
    A200 : #ff7e7e,
    A400 : #ff4b4b,
    A700 : #ff3131,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-hpsecond: (
    50 : #fdf7e6,
    100 : #faeac1,
    200 : #f7dd98,
    300 : #f3cf6e,
    400 : #f1c44f,
    500 : #eeba30,
    600 : #ecb32b,
    700 : #e9ab24,
    800 : #e7a31e,
    900 : #e29413,
    A100 : #ffffff,
    A200 : #fff1de,
    A400 : #ffddab,
    A700 : #ffd291,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);