.bg-circle {
    position: absolute;
    width: 901px;
    height: 876px;
    left: -136px;
    top: -103px;

    background: linear-gradient(207.18deg, rgba(2, 94, 115, 0.21) 13.64%, rgba(4, 178, 217, 0.0525) 85.41%);
    backdrop-filter: blur(4px);
}
