<div class="row container-fluid d-flex align-items-center flex-wrap-reverse">
    <div class="col-md-4">
        <img [src]="homePagePicture" class="img-fluid" alt="...">
    </div>
    <div class="col-md-8 mt-5">
        <div [ngClass]="isCurrentThemeHarry ? 'harry-potter-title' : 'batman-title'">
            <p class="h1">Utkarsh Awasthi</p>
        </div>
        <mat-card [ngClass]="isCurrentThemeHarry ? 'harry-potter-card' : 'batman-card'">
            <mat-card-title>
                <h1> {{homePageTitle}} </h1>
            </mat-card-title>
            <mat-card-content>
                <h4>
                    {{homePageBody}}
                </h4>
            </mat-card-content>
        </mat-card>
    </div>
</div>