@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Custom Palletes
@import "./custom-palletes/harry-potter-pallete.scss";
@import "./custom-palletes/batman-pallete.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$harry-potter-primary: mat-palette($md-hpprimary, 100, 300, 700);
$harry-potter-accent: mat-palette($md-hpsecond, 500, 300, 700);

// The warn palette is optional (defaults to red).
$harry-potter-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$harry-potter-theme: mat-light-theme(
    (
        color: (
            primary: $harry-potter-primary,
            accent: $harry-potter-accent,
            warn: $harry-potter-warn
        )
    )
);
// $harry-potter-theme: create-wonky-theme($harry-potter-primary, $harry-potter-accent, $harry-potter-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.harry-potter-theme {
    @include angular-material-theme($harry-potter-theme);
}

// typography
$portfolio-typography: mat-typography-config(
    $font-family: '"Cinzel", serif',
    $display-4: mat-typography-level(112px, 112px, 300),
    $display-3: mat-typography-level(56px, 56px, 600),
    $display-2: mat-typography-level(45px, 48px, 400),
    $display-1: mat-typography-level(34px, 40px, 600),
    $headline: mat-typography-level(24px, 32px, 600),
    $title: mat-typography-level(20px, 32px, 600),
    $subheading-2: mat-typography-level(16px, 22px, 600),
    $subheading-1: mat-typography-level(15px, 24px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $body-1: mat-typography-level(14px, 30px, 600),
    $caption: mat-typography-level(12px, 20px, 600),
    $button: mat-typography-level(10px, 14px, 800),
    $input: mat-typography-level(inherit, 1.125, 400),
);

@include angular-material-typography($portfolio-typography);

// Define an alternate dark theme.
$dark-primary: mat-palette($md-batprimary, 100, 300, 700);
$dark-accent: mat-palette($md-batsecond);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
            warn: $dark-warn
        ),
    )
);

// Include the dark color styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.batman-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.batman-dark-theme {
    @include angular-material-color($dark-theme);
    // color: mat-color($dark-primary) !important;
    // color: #fff !important;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Cinzel", serif !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none;
}

.harry-background {
    background: url("./assets/backgrounds/home-harry.jpg");
}

.batman-background {
    background: url("./assets/backgrounds/home-bat.jpg");
    background-size: cover;
}

.harry-potter-card {
    background: rgb(174 0 1 / 77%);
    color: black;
}

.batman-card {
    background: #012e4070;
    color: #04b2d9;
}

.harry-potter-title {
    background-color: #eeba30;
    color: #ae0001;
    font-weight: 800;
}

.batman-title {
    background-color: #03080D;
    color: #025e73;
    font-weight: 800;
}
